INTASEND_PUBLIC_KEY=YOUR_INTASEND_PUBLIC_KEY
INTASEND_SECRET_KEY=YOUR_INTASEND_SECRET_KEY
FIREBASE_PROJECT_ID=YOUR_PROJECT_ID
FIREBASE_CLIENT_EMAIL=YOUR_CLIENT_EMAIL
FIREBASE_PRIVATE_KEY=YOUR_PRIVATE_KEY
ADMIN_EMAIL=your@gmail.com
GMAIL_PASSWORD=your_gmail_app_password
DEPOSIT_RATE=132
WITHDRAWAL_RATE=126
MIN_WITHDRAWAL_USD=10
MIN_DEPOSIT_FOR_BONUS_USD=10
SIGNUP_BONUS_USD=3
REFERRAL_BONUS_USD=3
PORT=3000
